In [16]:
import pandas as pd
import os

from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [4]:
# Load the data
melbourne_data = pd.read_csv(os.path.join('melb_data.csv'), index_col=0)

# Select target
y = melbourne_data.Price

# To keep things simple, we'll use only numerical predictors
melbourne_predictors = melbourne_data.drop(['Price'], axis=1)
X = melbourne_predictors.select_dtypes(exclude=['object'])

In [8]:
# Divide data into training and validation subsets
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

## Introduction
There are many ways data can end up with missing values. For example,

* A 2 bedroom house won't include a value for the size of a third bedroom.
* A survey respondent may choose not to share his income.

Most machine learning libraries (including scikit-learn) give an error if you try to build a model using data with missing values. So you'll need to choose one of the strategies below.
***

## Three Approaches
### 1) A Simple Option: Drop Columns with Missing Values
The simplest option is to drop columns with missing values.

<img src="https://i.imgur.com/Sax80za.png" alt="Alt text that describes the graphic" title="Title text" />

Unless most values in the dropped columns are missing, the model loses access to a lot of (potentially useful!) information with this approach. As an extreme example, consider a dataset with 10,000 rows, where one important column is missing a single entry. This approach would drop the column entirely!

### 2) A Better Option: Imputation
**Imputation** fills in the missing values with some number. For instance, we can fill in the mean value along each column.

<img src="https://i.imgur.com/4BpnlPA.png" alt="Alt text that describes the graphic" title="Title text" />

The imputed value won't be exactly right in most cases, but it usually leads to more accurate models than you would get from dropping the column entirely.

### 3) An Extension To Imputation
Imputation is the standard approach, and it usually works well. However, imputed values may be systematically above or below their actual values (which weren't collected in the dataset). Or rows with missing values may be unique in some other way. In that case, your model would make better predictions by considering which values were originally missing.

<img src="https://i.imgur.com/UWOyg4a.png" alt="Alt text that describes the graphic" title="Title text" />

In this approach, we impute the missing values, as before. And, additionally, for each column with missing entries in the original dataset, we add a new column that shows the location of the imputed entries.

In some cases, this will meaningfully improve results. In other cases, it doesn't help at all.
***

## Define Function to Measure Quality of Each Approach
We define a function `score_dataset()` to compare different approaches to dealing with missing values. This function reports the [mean absolute error](https://en.wikipedia.org/wiki/Mean_absolute_error) (MAE) from a random forest model.

In [14]:
# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=10, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

### Score from Approach 1 (Drop Columns with Missing Values)
Since we are working with both training and validation sets, we are careful to drop the same columns in both DataFrames.

In [11]:
# Get names of columns with missing values
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]
print(cols_with_missing)

['Car', 'BuildingArea', 'YearBuilt']

In [12]:
# Drop columns in training and validation data
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

In [15]:
print("MAE from Approach 1 (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE from Approach 1 (Drop columns with missing values):
183550.22137772635

### Score from Approach 2 (Imputation)
Next, we use `SimpleImputer` to replace missing values with the mean value along each column.

Although it's simple, filling in the mean value generally performs quite well (but this varies by dataset). While statisticians have experimented with more complex ways to determine imputed values (such as **regression imputation**, for instance), the complex strategies typically give no additional benefit once you plug the results into sophisticated machine learning models.

In [27]:
print("Original dataframe")
X_train.head()

Original dataframe

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Suburb,,,,,,,,,,,,
St Kilda,1,5.0,3182.0,1.0,1.0,1.0,0.0,NaN,1940.0,-37.85984,144.9867,13240.0
Williamstown,2,8.0,3016.0,2.0,2.0,1.0,193.0,NaN,NaN,-37.85800,144.9005,6380.0
Sunshine,3,12.6,3020.0,3.0,1.0,1.0,555.0,NaN,NaN,-37.79880,144.8220,3755.0
Glenroy,3,13.0,3046.0,3.0,1.0,1.0,265.0,NaN,1995.0,-37.70830,144.9158,8870.0
Sunshine North,3,13.3,3020.0,3.0,1.0,2.0,673.0,673.0,1970.0,-37.76230,144.8272,4217.0

In [28]:
# Imputation
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

In [29]:
print("Imputed dataframe. note: columns names are missing")
imputed_X_train.head()

Imputed dataframe. note: columns names are missing

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.0,5.0,3182.0,1.0,1.0,1.0,0.0,153.764119,1940.000000,-37.85984,144.9867,13240.0
1,2.0,8.0,3016.0,2.0,2.0,1.0,193.0,153.764119,1964.839866,-37.85800,144.9005,6380.0
2,3.0,12.6,3020.0,3.0,1.0,1.0,555.0,153.764119,1964.839866,-37.79880,144.8220,3755.0
3,3.0,13.0,3046.0,3.0,1.0,1.0,265.0,153.764119,1995.000000,-37.70830,144.9158,8870.0
4,3.0,13.3,3020.0,3.0,1.0,2.0,673.0,673.000000,1970.000000,-37.76230,144.8272,4217.0

In [30]:
# Imputation removed column names; put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

In [31]:
print("Dataframe consisting of imputed data and column names")
imputed_X_train.head()

Dataframe consisting of imputed data and column names

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,1.0,5.0,3182.0,1.0,1.0,1.0,0.0,153.764119,1940.000000,-37.85984,144.9867,13240.0
1,2.0,8.0,3016.0,2.0,2.0,1.0,193.0,153.764119,1964.839866,-37.85800,144.9005,6380.0
2,3.0,12.6,3020.0,3.0,1.0,1.0,555.0,153.764119,1964.839866,-37.79880,144.8220,3755.0
3,3.0,13.0,3046.0,3.0,1.0,1.0,265.0,153.764119,1995.000000,-37.70830,144.9158,8870.0
4,3.0,13.3,3020.0,3.0,1.0,2.0,673.0,673.000000,1970.000000,-37.76230,144.8272,4217.0

In [32]:
print("MAE from Approach 2 (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE from Approach 2 (Imputation):
178166.46269899711

We see that **Approach 2** has lower MAE than **Approach 1**, so **Approach 2** performed better on this dataset.

### Score from Approach 3 (An Extension to Imputation)
Next, we impute the missing values, while also keeping track of which values were imputed.

In [33]:
# Make copy to avoid changing original data (when imputing)
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

In [34]:
# Make new columns indicating what will be imputed
for col in cols_with_missing:
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col + '_was_missing'] = X_valid_plus[col].isnull()

In [42]:
# Imputation
# Convert True and False to binary
my_imputer = SimpleImputer()
imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))

In [44]:
# Imputation removed column names; put them back
imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

In [45]:
imputed_X_train_plus

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,Car_was_missing,BuildingArea_was_missing,YearBuilt_was_missing
0,1.0,5.0,3182.0,1.0,1.0,1.0,0.0,153.764119,1940.000000,-37.85984,144.98670,13240.0,0.0,1.0,0.0
1,2.0,8.0,3016.0,2.0,2.0,1.0,193.0,153.764119,1964.839866,-37.85800,144.90050,6380.0,0.0,1.0,1.0
2,3.0,12.6,3020.0,3.0,1.0,1.0,555.0,153.764119,1964.839866,-37.79880,144.82200,3755.0,0.0,1.0,1.0
3,3.0,13.0,3046.0,3.0,1.0,1.0,265.0,153.764119,1995.000000,-37.70830,144.91580,8870.0,0.0,1.0,0.0
4,3.0,13.3,3020.0,3.0,1.0,2.0,673.0,673.000000,1970.000000,-37.76230,144.82720,4217.0,0.0,0.0,0.0
5,5.0,9.7,3103.0,5.0,2.0,2.0,611.0,153.764119,1964.839866,-37.81160,145.07890,5682.0,0.0,1.0,1.0
6,4.0,9.9,3044.0,4.0,2.0,2.0,250.0,194.000000,1983.000000,-37.73190,144.94610,7485.0,0.0,0.0,0.0
7,3.0,13.5,3020.0,3.0,1.0,4.0,700.0,153.764119,1964.839866,-37.78450,144.81310,6763.0,0.0,1.0,1.0
8,3.0,6.6,3011.0,3.0,1.0,1.0,283.0,153.764119,1940.000000,-37.80640,144.89440,2417.0,0.0,1.0,0.0
9,4.0,13.8,3018.0,3.0,1.0,2.0,725.0,153.764119,1964.839866,-37.86780,144.81600,5301.0,0.0,1.0,1.0
10,2.0,8.0,3016.0,2.0,1.0,1.0,0.0,49.000000,1970.000000,-37.85040,144.89240,6380.0,0.0,0.0,0.0
11,3.0,13.9,3165.0,3.0,1.0,2.0,596.0,144.000000,1960.000000,-37.92510,145.07710,10969.0,0.0,0.0,0.0
12,2.0,2.3,3051.0,2.0,1.0,1.0,0.0,153.764119,1964.839866,-37.79880,144.94780,6821.0,0.0,1.0,1.0
13,5.0,17.9,3082.0,5.0,2.0,2.0,574.0,153.764119,1970.000000,-37.66936,145.05413,10529.0,0.0,1.0,0.0
14,1.0,5.9,3055.0,1.0,1.0,0.0,0.0,37.000000,1960.000000,-37.77630,144.94700,7082.0,0.0,0.0,0.0
15,3.0,12.1,3046.0,3.0,2.0,4.0,560.0,153.764119,1964.839866,-37.71360,144.93740,2606.0,0.0,1.0,1.0
16,3.0,7.8,3058.0,3.0,1.0,0.0,702.0,108.000000,1950.000000,-37.73910,144.98120,11204.0,0.0,0.0,0.0
17,3.0,13.5,3020.0,3.0,3.0,2.0,699.0,153.764119,1964.839866,-37.78720,144.79750,6763.0,0.0,1.0,1.0
18,3.0,8.7,3032.0,3.0,2.0,2.0,210.0,153.764119,1964.839866,-37.77320,144.87900,4918.0,0.0,1.0,1.0
19,4.0,3.5,3068.0,3.0,2.0,1.0,445.0,175.000000,1890.000000,-37.78600,144.98640,6244.0,0.0,0.0,0.0
20,3.0,13.9,3165.0,3.0,1.0,1.0,642.0,153.764119,1964.839866,-37.92690,145.07870,10969.0,0.0,1.0,1.0
21,5.0,3.5,3068.0,5.0,2.0,3.0,818.0,153.764119,1964.839866,-37.77490,144.98640,6244.0,0.0,1.0,1.0
22,3.0,7.5,3123.0,2.0,1.0,1.0,0.0,95.000000,1970.000000,-37.84140,145.05050,6482.0,0.0,0.0,0.0
23,4.0,5.5,3070.0,4.0,2.0,1.0,355.0,153.764119,1964.839866,-37.76360,144.98720,11364.0,0.0,1.0,1.0
24,3.0,14.8,3023.0,3.0,2.0,2.0,194.0,153.764119,2010.000000,-37.72530,144.74840,7719.0,0.0,1.0,0.0
25,5.0,12.1,3083.0,5.0,3.0,2.0,544.0,40.000000,1964.839866,-37.71499,145.02967,1414.0,0.0,0.0,1.0
26,3.0,22.7,3174.0,3.0,1.0,1.0,587.0,114.200000,1960.000000,-37.96968,145.16832,11806.0,0.0,0.0,0.0
27,2.0,11.2,3073.0,2.0,1.0,1.0,82.0,153.764119,1970.000000,-37.69830,145.01040,21650.0,0.0,1.0,0.0
28,4.0,9.2,3146.0,4.0,3.0,4.0,1258.0,254.000000,1941.000000,-37.85520,145.08200,10412.0,0.0,0.0,0.0
29,3.0,8.0,3040.0,3.0,1.0,1.0,862.0,135.000000,1970.000000,-37.73990,144.89640,9264.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,3.0,13.6,3148.0,4.0,2.0,2.0,515.0,153.764119,1964.839866,-37.88370,145.10600,3582.0,0.0,1.0,1.0
10835,4.0,9.2,3058.0,4.0,2.0,2.0,302.0,153.764119,1964.839866,-37.72710,144.98420,3445.0,0.0,1.0,1.0
10836,3.0,6.4,3011.0,3.0,1.0,2.0,272.0,106.000000,1920.000000,-37.79770,144.90400,7570.0,0.0,0.0,0.0
10837,2.0,4.5,3181.0,2.0,1.0,0.0,98.0,153.764119,1890.000000,-37.85010,144.99530,7717.0,0.0,1.0,0.0
10838,3.0,11.2,3073.0,3.0,3.0,2.0,618.0,153.000000,1960.000000,-37.71540,144.99620,21650.0,0.0,0.0,0.0
10839,3.0,13.9,3108.0,3.0,1.0,2.0,651.0,119.000000,1970.000000,-37.78270,145.10510,9028.0,0.0,0.0,0.0
10840,3.0,13.3,3020.0,3.0,1.0,1.0,581.0,153.764119,1964.839866,-37.76020,144.83160,4217.0,0.0,1.0,1.0
10841,3.0,12.4,3060.0,3.0,1.0,3.0,602.0,97.000000,1950.000000,-37.71440,144.97370,5070.0,0.0,0.0,0.0
10842,2.0,13.8,3107.0,2.0,1.0,1.0,340.0,90.000000,1980.000000,-37.75640,145.11950,5420.0,0.0,0.0,0.0
10843,3.0,11.7,3033.0,3.0,1.0,1.0,597.0,153.764119,1964.839866,-37.73305,144.86526,5629.0,0.0,1.0,1.0
10844,4.0,9.7,3103.0,4.0,3.0,4.0,1148.0,153.764119,1964.839866,-37.80880,145.09910,5682.0,0.0,1.0,1.0
10845,4.0,11.2,3046.0,4.0,2.0,2.0,1017.0,153.764119,1964.839866,-37.70705,144.91011,8870.0,0.0,1.0,1.0
10846,5.0,13.0,3046.0,5.0,4.0,4.0,695.0,176.000000,1950.000000,-37.70280,144.93770,8870.0,0.0,0.0,0.0
10847,2.0,7.8,3058.0,2.0,1.0,1.0,136.0,81.000000,1975.000000,-37.74490,144.97540,11204.0,0.0,0.0,0.0
10848,2.0,8.5,3185.0,2.0,1.0,1.0,0.0,79.000000,1970.000000,-37.88380,145.00950,4898.0,0.0,0.0,0.0
10849,1.0,6.2,3123.0,1.0,1.0,0.0,0.0,50.000000,1960.000000,-37.83270,145.05428,6482.0,0.0,0.0,0.0
10850,3.0,3.5,3068.0,4.0,1.0,2.0,475.0,153.764119,1964.839866,-37.77860,144.98460,6244.0,0.0,1.0,1.0
10851,3.0,13.0,3204.0,3.0,2.0,1.0,418.0,153.764119,1925.000000,-37.91720,145.04210,6795.0,0.0,1.0,0.0
10852,3.0,12.8,3033.0,3.0,1.0,1.0,254.0,153.764119,1964.839866,-37.74800,144.86300,5629.0,0.0,1.0,1.0
10853,3.0,9.1,3040.0,3.0,2.0,2.0,496.0,153.764119,1964.839866,-37.75590,144.89910,1543.0,0.0,1.0,1.0
10854,2.0,6.1,3182.0,2.0,1.0,1.0,0.0,153.764119,1964.839866,-37.86260,144.98180,13240.0,0.0,1.0,1.0
10855,2.0,2.3,3051.0,2.0,2.0,1.0,146.0,153.764119,1964.839866,-37.79590,144.94640,6821.0,0.0,1.0,1.0
10856,2.0,9.2,3146.0,2.0,1.0,2.0,97.0,153.764119,1970.000000,-37.86370,145.06320,10412.0,0.0,1.0,0.0
10857,4.0,11.4,3204.0,4.0,2.0,2.0,568.0,153.764119,1964.839866,-37.90688,145.02827,2397.0,0.0,1.0,1.0
10858,3.0,4.5,3181.0,3.0,2.0,2.0,183.0,200.000000,1999.000000,-37.85620,145.00420,7717.0,0.0,0.0,0.0
10859,3.0,5.2,3056.0,3.0,1.0,2.0,212.0,153.764119,1964.839866,-37.77695,144.95785,11918.0,0.0,1.0,1.0
10860,3.0,10.5,3081.0,3.0,1.0,1.0,748.0,101.000000,1950.000000,-37.74160,145.04810,2947.0,0.0,0.0,0.0
10861,4.0,6.7,3058.0,4.0,2.0,2.0,441.0,255.000000,2002.000000,-37.73572,144.97256,11204.0,0.0,0.0,0.0
10862,3.0,12.0,3073.0,3.0,1.0,1.0,606.0,153.764119,1964.839866,-37.72057,145.02615,21650.0,0.0,1.0,1.0
10863,4.0,6.4,3011.0,4.0,2.0,1.0,319.0,130.000000,1915.000000,-37.79430,144.88750,7570.0,0.0,0.0,0.0

In [37]:
print("MAE from Approach 3 (An Extension to Imputation):")
print(score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid))

MAE from Approach 3 (An Extension to Imputation):
178927.503183954

As we can see, **Approach 3** performed slightly worse than **Approach 2**.
***

### So, why did imputation perform better than dropping the columns?
The training data has 10864 rows and 12 columns, where three columns contain missing data. For each column, less than half of the entries are missing. Thus, dropping the columns removes a lot of useful information, and so it makes sense that imputation would perform better.

In [38]:
# Shape of training data (num_rows, num_columns)
print(X_train.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

(10864, 12)
Car               49
BuildingArea    5156
YearBuilt       4307
dtype: int64

As is common, imputing missing values (in **Approach 2** and **Approach 3**) yielded better results, relative to when we simply dropped columns with missing values (in **Approach 1**).